<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Google Apps">
    <test name="Regression">
        <classes>
            <class name="concortHotel.tests.US003_Huseyin"/>
            <class name="concortHotel.tests.US005_Emrah"/>
            <class name="concortHotel.tests.US009_Sedef"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->