<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Google Apps">
    <test name="Smoke">
        <classes>
            <class name="concortHotel.tests.US001_Olcay"/>
            <class name="concortHotel.tests.US002_Abdurrahman_Login_Page"/>
            <class name="concortHotel.tests.US003_Huseyin"/>
            <class name="concortHotel.tests.US004_Sanal_Hotel_Creation"/>
            <class name="concortHotel.tests.US005_Emrah"/>
            <class name="concortHotel.tests.US006_Sukriye"/>
            <class name="concortHotel.tests.US007_Merve"/>
            <class name="concortHotel.tests.US008_Tugce"/>
            <class name="concortHotel.tests.US009_Sedef"/>
            <class name="concortHotel.tests.US010_"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->